@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,700italic&amp;subset=latin,latin-ext,cyrillic);

.roboto {
    font-family: 'Roboto', sans-serif
}

@font-face {
    font-family: 'nautilus_pompiliusregular';
    src: url("../fonts/nautiluspompilius-webfont.eot");
    src: url("../fonts/nautiluspompilius-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/nautiluspompilius-webfont.woff2") format("woff2"),url("../fonts/nautiluspompilius-webfont.woff") format("woff"), url("../fonts/nautiluspompilius-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ALSSchlangesans-Black';
    src: url("../fonts/ALSSchlangesans-Black.eot");
    src: url("../fonts/ALSSchlangesans-Blackd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSSchlangesans-Black.woff2") format("woff2"),url("../fonts/ALSSchlangesans-Black.woff") format("woff"),url("../fonts/ALSSchlangesans-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ALSSchlangesans-bold';
    src: url("../fonts/ALSSchlangesans-bold.eot");
    src: url("../fonts/ALSSchlangesans-boldd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/ALSSchlangesans-bold.woff2") format("woff2"),url("../fonts/ALSSchlangesans-bold.woff") format("woff"),url("../fonts/ALSSchlangesans-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'pfdindisplaypro';
    src: url("../fonts/pfdindisplaypro-blackitalic-webfont.eot");
    src: url("../fonts/pfdindisplaypro-blackitalic-webfontd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/pfdindisplaypro-blackitalic-webfont.woff2") format("woff2"),url("../fonts/pfdindisplaypro-blackitalic-webfont.woff") format("woff"),url("../fonts/pfdindisplaypro-blackitalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'allegro-bt-webfont';
    src: url("../fonts/allegro-bt-webfont.eot");
    src: url("../fonts/allegro-bt-webfontd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/allegro-bt-webfont.woff2") format("woff2"),url("../fonts/allegro-bt-webfont.woff") format("woff"),url("../fonts/allegro-bt-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'PFDinBI';
    src: url("../fonts/PFDinTextPro-BoldItalic.eot");
    src: url("../fonts/PFDinTextPro-BoldItalicd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/PFDinTextPro-BoldItalic.woff") format("woff"),url("../fonts/PFDinTextPro-BoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'RobotoBI';
    src: url("../fonts/roboto-bold-italic.eot");
    src: url("../fonts/roboto-bold-italicd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-italic.woff") format("woff"), url("../fonts/roboto-bold-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'RobotoBlackItalic';
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/roboto-black-italic.eot");
    src: url("../fonts/roboto-black-italicd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-italic.woff") format("woff"), url("../fonts/roboto-black-italic.ttf") format("truetype");
}
@font-face {
    font-family: 'RobotoMedium';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Mediumd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'PTSansB';
    src: url("../fonts/pt-sans-bold.eot");
    src: url("../fonts/pt-sans-boldd41d.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-bold.html") format("woff2"),url("../fonts/pt-sans-bold.woff") format("woff"), url("../fonts/pt-sans-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}