form[name="MAIL_TO_DIRECTOR"] #pismo_directoru_but {
    background-color: red;
    border-radius: 7px;
    border: none;
    border-bottom: 4px solid #c00;
    color: #fff;
    font-weight: 400;
    width: 370px;
    text-align: center;
    line-height: 52px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    float: right;
    cursor: pointer;
}
@media all and (max-width: 768px){
    form[name="MAIL_TO_DIRECTOR"] #pismo_directoru_but {
        width: 260px;
    }
}